.container {
  text-align: center;
  margin: 57px 0px;
  padding: 10px;
}
.heading {
  font-size: 2rem;
  margin-top: 40px 0px;
}
.p {
  text-align: justify;
  margin: 20px 0px;
}
@media only screen and (max-width: 600px) {
  .heading {
    font-size: 28px !important;
    font-weight: 500 !important;
  }
  .p {
    font-size: 18px !important;
    padding: 10px !important;
  }
}

@media only screen and (max-width: 320px) {
  .p {
    font-size: 15px !important;
    padding: 0 5px !important;
  }
}
