.container {
  margin: 60px 0px;
  margin-left: 20px;
}
p {
  text-align: justify;
}
.heading {
  font-weight: bold;
  margin-bottom: 20px;
}
.tableHeading {
  color: white !important;
  text-align: center !important;
  font-size: 25px !important;
}
.tableContainer {
  margin: 48px !important;
  width: 600px !important;
  margin-left: 20px !important;
}
@media only screen and (max-width: 600px) {
  .tableContainer {
    width: 300px !important;
  }
  p {
    padding-right: 20px !important;
  }
  .heading {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 320px) {
  .tableContainer {
    width: 274px !important;
  }
}
